<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/live**" access="ROLE_USER" />
		<intercept-url pattern="/reporting**" access="ROLE_USER" />
		<intercept-url pattern="/batchinstance**" access="ROLE_USER" />
		<intercept-url pattern="/batchclass**" access="ROLE_USER" />
		<intercept-url pattern="/graph/**" access="ROLE_USER" />

		<form-login login-page="/login" default-target-url="/live" authentication-failure-url="/login?error" username-parameter="username" password-parameter="password" />
		<logout logout-success-url="/login?logout" />
		<!-- enable csrf protection -->
		<csrf />
	</http>

	<!-- BASIC AUTHENTICATION -->

	<!-- <authentication-manager> <authentication-provider> <user-service> <user name="ephesoft" password="demo" authorities="ROLE_USER" /> </user-service> </authentication-provider> </authentication-manager> -->

	<!-- LDAP AUTHENTICATION -->

	<ldap-server id="ldapServer" url="ldap://172.16.22.248:389/dc=bataon,dc=com" />

	<beans:bean id="customAuthoritiesPopulator" class="com.ohlon.security.CustomLdapAuthoritiesPopulator" />

	<beans:bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
		<beans:constructor-arg name="authenticator">
			<beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
				<beans:constructor-arg ref="ldapServer" />
				<beans:property name="userSearch">
					<beans:bean class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
						<beans:constructor-arg name="searchBase" value="ou=users" />
						<beans:constructor-arg name="searchFilter" value="(uid={0})" />
						<beans:constructor-arg name="contextSource" ref="ldapServer" />
					</beans:bean>
				</beans:property>
			</beans:bean>
		</beans:constructor-arg>
		<beans:constructor-arg name="authoritiesPopulator" ref="customAuthoritiesPopulator" />
	</beans:bean>

	<authentication-manager>
		<authentication-provider ref="ldapAuthProvider" />
	</authentication-manager>

</beans:beans>